
    {% extends "base.html.twig" %}
    {% block metatitle %}contact{% endblock metatitle %}
    {% block css %}
    <link href="{{asset("css/style.css")}}" rel="stylesheet">
    {% endblock css %}

    {% block main %}

    <h3> merci de nous avoir contactés</h3>

    {% endblock main %}
